<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%=title%>
  </title>
</head>

<body>
<%- include("Dosen/layout.ejs") %>

    <div class="flex flex-col w-full">
      <h1 class="text-xl font-extrabold m-5">
        <%= title %>
      </h1>
    
      <div class="ps-5 w-full">
        <table>
          <thead>
            <tr>
              <th>No</th>
              <th>Topik</th>
              <th>Mahasiswa</th>
              <th>Dosen</th>
              <th>Jadwal</th>
              <th>Waktu</th>
              <th>File</th>
              <th>Status</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
            <% pengajuans.forEach((pengajuan, index)=> { %>
              <tr>
                <td>
                  <%= index + 1 %>
                </td>
                <td>
                  <%= pengajuan.topic %>
                </td>
                <td>
                  <%= pengajuan?.user?.nama %>
                </td>
                <td>
                  <%= pengajuan.nama_dosen %>
                </td>
                <td>
                  <%= pengajuan.jadwal %>
                </td>
                <td>
                  <%= pengajuan.waktu %>
                </td>
                <td><a href="/file/<%= pengajuan.file %>" target="_blank" style="color: blue;">
                    <%= pengajuan.file %>
                  </a></td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <% if (pengajuan.status==0) { %>
                    <span class="inline-flex items-center px-3 py-1 rounded-full text-sm font-medium text-white"
                      style="background-color:rgb(245, 178, 9);">
                      Menunggu</span>
                    <% } else if (pengajuan.status==1) { %>
                      <span class="inline-flex items-center px-3 py-1 rounded-full text-sm font-medium  text-white"
                        style="background-color:rgb(16, 212, 56);">
                        Diterima</span>
                      <% } else if (pengajuan.status==2) { %>
                        <span class="inline-flex items-center px-3 py-1 rounded-full text-sm font-medium text-white"
                          style="background-color:rgb(255, 52, 34);">
                          Ditolak</span>
                        <% } %>

                </td>
                <td>
                  <button class="button-edit" onclick="openPengajuanEdit('<%= pengajuan.id %>')">Edit Status</button>
                </td>
              </tr>
              <% }); %>
          </tbody>
        </table>

      </div>
    </div>



  <div id="editPengajuan" class="modal" style="display: none;">
    <div class="modal-content">
      <span class="close" onclick="closePengajuanEdit()">&times;</span>
      <h3 class="center-text">Edit Status</h3>
      <form id="editPengajuanForm" action="/pengajuan/update" method="post">
        <div class="form-col">
          <div class="form-group form-group-half" style="display: flex; flex-direction: column;">
            <input type="text" id="id" name="id" style="display: none;" />
            <label for="status">Status:</label>
            <select id="status" name="status" required>
              <option value="" disabled selected>...</option>
              <option value="1">disetujui</option>
              <option value="2">ditolak</option>
            </select>
          </div>
        </div>
  
  
  
        <button type="submit">Simpan</button>
      </form>
    </div>
  </div>


    <script>

      function openPengajuanTambah() {
        document.getElementById("tambahPengajuan").style.display = "block";
      }

      function closePengajuanTambah() {
        document.getElementById("tambahPengajuan").style.display = "none";
      }

      async function openPengajuanEdit(id) {
        document.getElementById("editPengajuan").style.display = "block";

        try {
          const response = await fetch(`/pengajuan/edit/`+id);
          if (!response.ok) {
            throw new Error('Failed to fetch pengajuan data');
          }
          const userData = await response.json();

          console.log('User data:', userData);

        
          document.getElementById("status").value = userData.waktu;
          document.getElementById("id").value = userData.id;

        } catch (error) {
          console.error('Error fetching user data:', error);
        }
      }

      function closeModalEdit() {
        document.getElementById("editPengajuan").style.display = "none";
      }

      function closeModalEdit() {
        document.getElementById("editPengajuan").style.display = "none";
      }

      function showNotification(message) {
        const notification = document.getElementById('notification');
        notification.innerText = message;
        notification.style.display = 'block';
        notification.style.backgroundColor = '#f8d7da'; // Warna latar belakang merah
        notification.style.color = '#721c24'; // Warna teks merah gelap
        notification.style.padding = '10px';
        notification.style.margin = '10px 0';
        notification.style.borderRadius = '5px';
      }

      setTimeout(() => {
        notification.style.display = 'none';
      }, 5000);

      const urlParams = new URLSearchParams(window.location.search);
      const errorMessage = urlParams.get('error');
      if (errorMessage) {
        showNotification(errorMessage);
      }
    </script>
</body>

</html>